In [1]:
from IPython.core.display import display, HTML
display(HTML("<style>.container { width:100% !important; }</style>"))

In [2]:
import os
import pandas as pd
import glob
import pickle

os.sys.path.insert(0, '../evaluation')

from evaluate import evaluate_all_systems, preprocess_all_models

In [89]:
models = [os.path.basename(p) for p in glob.glob(f'../data/models/dev/*')]

dfs = []

for model in models:
    if os.path.isfile(f'../data/models/dev/{model}/system_evaluation.csv'):
        df_ = pd.read_csv(f'../data/models/dev/{model}/system_evaluation.csv', index_col=['subset', 'references', 'metric'])
        dfs.append(df_)

scores_df = pd.concat(dfs, keys=models).reset_index(level=[1, 2], drop=True).unstack()
scores_df.columns = scores_df.columns.droplevel()

In [90]:
params_dfs = []
for model in models:
    with open(f'../data/models/dev/{model}/params.pkl', 'rb') as f:
        params_dfs.append(pd.DataFrame([pickle.load(f)], index=[model]))
    

params_df = pd.concat(params_dfs)

In [91]:
df = pd.merge(scores_df, params_df, left_index=True, right_index=True)

cols = ['bleu', 'meteor', 'ter', 'dp_scorer', 'max_dp', 'sa_scorer', 'max_sa', 'tems_lm_name', 'tems_lm_n', 'max_tems', 'referrer', 'txs_lm_name', 'txs_lm_n']
df.sort_values('bleu', ascending=False).loc[:, cols]

,bleu,meteor,ter,dp_scorer,max_dp,sa_scorer,max_sa,tems_lm_name,tems_lm_n,max_tems,referrer,txs_lm_name,txs_lm_n
8562436464462099980,57.66,0.433749,0.410661,ltr_lasso,2,random,4,lower,3,2,counter,lower,3
37677081755143658,57.64,0.432542,0.415537,ltr_lasso,2,inv_ltr_lasso,4,lower,3,2,counter,lower,3
4692801175971517865,57.61,0.436153,0.417633,ltr_lasso,2,inv_ltr_lasso,4,lower,3,2,counter,lower,6
3489570017219532767,57.31,0.435099,0.414805,ltr_lasso,2,random,4,lower,3,2,counter,lower,6
710608634447711577,57.15,0.432661,0.420168,ltr_lasso,2,ltr_lasso,4,lower,3,2,counter,lower,3
-5320594571956842214,56.97,0.435921,0.421631,ltr_lasso,2,ltr_lasso,4,lower,3,2,counter,lower,6
7697843703963551123,56.85,0.431124,0.420217,ltr_lasso,2,inv_ltr_lasso,4,lower,6,2,counter,lower,3
7268716319870250105,56.78,0.429774,0.419486,ltr_lasso,2,random,4,lower,6,2,counter,lower,3
-9198725233750128576,56.52,0.433739,0.426945,ltr_lasso,2,inv_ltr_lasso,4,lower,6,2,counter,lower,6
2617089377173533434,56.37,0.433599,0.426653,ltr_lasso,2,random,4,lower,6,2,counter,lower,6
4612882699799889212,56.07,0.433078,0.438256,random,2,ltr_lasso,4,lower,3,2,counter,lower,3
-6048291712712942420,56.01,0.430705,0.429773,ltr_lasso,2,ltr_lasso,4,lower,6,2,counter,lower,3
-519698929690133953,55.82,0.433996,0.434258,ltr_lasso,2,ltr_lasso,4,lower,6,2,counter,lower,6
6364182758952201001,55.21,0.429726,0.446398,random,2,random,4,lower,3,2,counter,lower,3
8871670016894234735,55.14,0.431197,0.449762,random,2,ltr_lasso,4,lower,3,2,counter,lower,6
-6415915481781379830,55.06,0.430528,0.453468,random,2,random,4,lower,3,2,counter,lower,6
-880159491977447159,54.68,0.428183,0.456929,random,2,ltr_lasso,4,lower,6,2,counter,lower,3
-4934139088498018168,54.66,0.429357,0.455954,random,2,inv_ltr_lasso,4,lower,3,2,counter,lower,3
4288865852101467230,54.54,0.428275,0.463072,inv_ltr_lasso,2,ltr_lasso,4,lower,3,2,counter,lower,3
-8361900289309119076,54.48,0.429334,0.453370,random,2,random,4,lower,6,2,counter,lower,3
5380493956368830349,54.14,0.430113,0.468533,inv_ltr_lasso,2,ltr_lasso,4,lower,3,2,counter,lower,6
1609065087389804363,54.08,0.427917,0.463804,random,2,inv_ltr_lasso,4,lower,3,2,counter,lower,6
-7292240309114844824,54.05,0.426984,0.466875,inv_ltr_lasso,2,random,4,lower,3,2,counter,lower,3
-5607383091331174698,53.77,0.428549,0.465656,random,2,inv_ltr_lasso,4,lower,6,2,counter,lower,6
-5008860357806832011,53.76,0.426431,0.461317,random,2,inv_ltr_lasso,4,lower,6,2,counter,lower,3
594392738543661354,53.75,0.427839,0.463560,random,2,ltr_lasso,4,lower,6,2,counter,lower,6
-493083566408780017,53.62,0.430126,0.460878,random,2,random,4,lower,6,2,counter,lower,6
-3243405875167119893,53.52,0.428258,0.474871,inv_ltr_lasso,2,random,4,lower,3,2,counter,lower,6
-5270130185794574945,53.47,0.425828,0.470093,inv_ltr_lasso,2,ltr_lasso,4,lower,6,2,counter,lower,3
-5092376902862392885,53.17,0.426046,0.479795,inv_ltr_lasso,2,inv_ltr_lasso,4,lower,3,2,counter,lower,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1924708411876975187,17.82,0.307003,1.190054,ltr_lasso,2,ltr_lasso,4,inv_lower,6,2,inv_counter,inv_lower,6
-5723805047950405996,17.81,0.307668,1.198635,inv_ltr_lasso,2,random,4,inv_lower,6,2,inv_counter,inv_lower,6
-7368508599989471394,17.81,0.308003,1.198196,inv_ltr_lasso,2,ltr_lasso,4,inv_lower,6,2,inv_counter,inv_lower,6
-7676884669756221843,17.80,0.307058,1.196197,ltr_lasso,2,inv_ltr_lasso,4,inv_lower,6,2,inv_counter,inv_lower,3
7403669987145653698,17.80,0.307121,1.195125,ltr_lasso,2,random,4,inv_lower,6,2,inv_counter,inv_lower,3
2251941104759462584,17.80,0.307716,1.201170,random,2,inv_ltr_lasso,4,inv_lower,6,2,inv_counter,inv_lower,6
7504335839751936939,17.80,0.307472,1.199269,inv_ltr_lasso,2,inv_ltr_lasso,4,inv_lower,6,2,inv_counter,inv_lower,6
-7093539341084696234,17.79,0.307611,1.196246,ltr_lasso,2,ltr_lasso,4,inv_lower,3,2,inv_counter,inv_lower,6
-3560206275510445827,17.79,0.307847,1.197221,random,2,ltr_lasso,4,inv_lower,6,2,inv_counter,inv_lower,6
-178569881895281796,17.78,0.308409,1.204485,random,2,ltr_lasso,4,inv_lower,3,2,inv_counter,inv_lower,6
9111527088672576629,17.77,0.308162,1.205412,inv_ltr_lasso,2,random,4,inv_lower,3,2,inv_counter,inv_lower,6
-40656034578410917,17.77,0.308477,1.205461,inv_ltr_lasso,2,ltr_lasso,4,inv_lower,3,2,inv_counter,inv_lower,6
-9050297552710886326,17.77,0.308130,1.211604,random,2,inv_ltr_lasso,4,inv_lower,3,2,inv_counter,inv_lower,3
8522160180920370571,17.77,0.307635,1.203949,ltr_lasso,2,random,4,inv_lower,3,2,inv_counter,inv_lower,3
7184507496965492686,17.76,0.308034,1.205851,inv_ltr_lasso,2,inv_ltr_lasso,4,inv_lower,3,2,inv_counter,inv_lower,6
-6670156046544272602,17.75,0.307864,1.205022,random,2,ltr_lasso,4,inv_lower,6,2,inv_counter,inv_lower,3
4081705206348276897,17.74,0.307651,1.208386,random,2,inv_ltr_lasso,4,inv_lower,3,2,inv_counter,inv_lower,6
2256485313961766739,17.73,0.307784,1.208142,random,2,inv_ltr_lasso,4,inv_lower,6,2,inv_counter,inv_lower,3
-4443508248341319539,17.72,0.307201,1.204144,ltr_lasso,2,ltr_lasso,4,inv_lower,3,2,inv_counter,inv_lower,3
-7126944733953714367,17.70,0.308233,1.213700,random,2,random,4,inv_lower,3,2,inv_counter,inv_lower,3
5564833295588070840,17.70,0.306574,1.195320,ltr_lasso,2,ltr_lasso,4,inv_lower,6,2,inv_counter,inv_lower,3
4676823853276240426,17.69,0.307839,1.205558,random,2,random,4,inv_lower,3,2,inv_counter,inv_lower,6
3091515149272843268,17.67,0.307483,1.204778,random,2,random,4,inv_lower,6,2,inv_counter,inv_lower,3
-759299306607228761,17.66,0.307811,1.213018,random,2,ltr_lasso,4,inv_lower,3,2,inv_counter,inv_lower,3
3595031392836886831,17.66,0.307383,1.204729,inv_ltr_lasso,2,random,4,inv_lower,6,2,inv_counter,inv_lower,3
3651233108990681536,17.65,0.307195,1.204973,inv_ltr_lasso,2,inv_ltr_lasso,4,inv_lower,6,2,inv_counter,inv_lower,3
3884877822906643685,17.64,0.307445,1.204242,inv_ltr_lasso,2,ltr_lasso,4,inv_lower,6,2,inv_counter,inv_lower,3
-3506838251028239922,17.63,0.307780,1.211945,inv_ltr_lasso,2,random,4,inv_lower,3,2,inv_counter,inv_lower,3
-7111541801870592395,17.61,0.307715,1.211799,inv_ltr_lasso,2,inv_ltr_lasso,4,inv_lower,3,2,inv_counter,inv_lower,3
-4478499061069106480,17.58,0.307812,1.212237,inv_ltr_lasso,2,ltr_lasso,4,inv_lower,3,2,inv_counter,inv_lower,3

In [92]:
df.to_csv('../data/models/dev/results.csv')

In [93]:
df.groupby('dp_scorer').bleu.describe()

               count       mean        std    min    25%    50%    75%    max
dp_scorer
inv_ltr_lasso  225.0  34.061778   9.765977  17.58  26.50  32.33  42.33  54.54
ltr_lasso      225.0  35.391600  10.660946  17.70  26.95  33.22  43.10  57.66
random         225.0  34.566178  10.098182  17.66  26.41  32.77  42.18  56.07

In [94]:
df.groupby('sa_scorer').bleu.describe()

               count       mean        std    min    25%    50%    75%    max
sa_scorer
inv_ltr_lasso  225.0  34.426044  10.113723  17.61  26.74  32.53  42.63  57.64
ltr_lasso      225.0  34.783067  10.230664  17.58  26.58  32.78  42.26  57.15
random         225.0  34.810444  10.240240  17.63  26.73  32.77  42.50  57.66

In [95]:
df.groupby('tems_lm_name').bleu.describe()

,count,mean,std,min,25%,50%,75%,max
tems_lm_name,,,,,,,,
inv_lower,270.0,28.535593,7.499930,17.58,24.6200,27.465,35.9650,44.67
lower,270.0,40.847519,9.165403,26.06,32.8025,42.265,47.9475,57.66
random,135.0,34.599704,9.334048,20.77,29.6800,32.370,43.8950,52.43

In [96]:
df.groupby('txs_lm_name').bleu.describe()

,count,mean,std,min,25%,50%,75%,max
txs_lm_name,,,,,,,,
inv_lower,270.0,29.624185,8.176243,17.58,25.3650,27.465,39.6250,43.67
lower,270.0,40.426593,9.679128,22.87,32.8025,39.825,48.7625,57.66
random,135.0,33.264370,8.891935,19.19,28.5850,30.630,42.3150,49.30

In [97]:
df.groupby('referrer').bleu.describe()

               count       mean       std    min    25%    50%    75%    max
referrer
counter        225.0  40.966933  9.208281  27.29  32.29  42.18  47.78  57.66
inv_counter    225.0  25.414089  5.168019  17.58  20.92  26.11  29.39  34.15
preprocess_so  225.0  37.638533  8.103931  25.10  29.69  39.55  43.50  51.26