In [1]:
import pandas as pd
import seaborn as sns
pd.set_option('display.max_colwidth', 500)
pd.set_option('display.max_columns', 50)
%matplotlib inline

In [2]:
df = pd.read_csv('../evaluation/2017_human_evaluation/all_data_final_scores_anonymised.csv',
                usecols=['X_unit_id',
                         'X_worker_id',
                         'fluency',
                         'grammaticality',
                         'semantic_adequacy',
                         'mr',
                         'team',
                         'text',
                         'category',
                         'type',
                         'bleu',
                         'meteor',
                         'ter'
                        ])

df.head()

,X_unit_id,X_worker_id,fluency,grammaticality,semantic_adequacy,mr,team,text,category,type,bleu,meteor,ter
0,1433935686,13581319,3,1,1,"Elliot_See | deathDate | ""1966-02-28""",tilburg-smt,"on february 28, 1966.",Astronaut,seen,0.074,0.354628,75.0
1,1433935686,43942797,3,3,3,"Elliot_See | deathDate | ""1966-02-28""",tilburg-smt,"on february 28, 1966.",Astronaut,seen,0.074,0.354628,75.0
2,1433935687,43891892,3,2,3,Batagor | dishVariation | Shumai,pkuwriter,shumai can be included in arrabbiaita sauce.,Food,seen,0.199,0.161864,75.0
3,1433935687,43942797,3,3,3,Batagor | dishVariation | Shumai,pkuwriter,shumai can be included in arrabbiaita sauce.,Food,seen,0.199,0.161864,75.0
4,1433935687,44014780,1,1,1,Batagor | dishVariation | Shumai,pkuwriter,shumai can be included in arrabbiaita sauce.,Food,seen,0.199,0.161864,75.0

In [88]:
df['weird_eval'] = (((df.semantic_adequacy == 1) | (df.grammaticality == 1) | (df.fluency == 1)) &\
                    ((df.meteor >= 0.8) | (df.bleu >= 0.8) | (df.ter < 20)))

df.weird_eval.value_counts()

False    6014
True       97
Name: weird_eval, dtype: int64

In [89]:
df_workers = df.groupby('X_worker_id').weird_eval.value_counts().unstack(fill_value=0)

df_workers.nlargest(5, True)

weird_eval   False  True
X_worker_id
6352345         20      8
21875134       122      4
43856561       110      4
43959305        38      4
12115558        82      3

In [90]:
df_workers = df.groupby(['X_worker_id', 
                         'fluency', 
                         'semantic_adequacy', 
                         'grammaticality']).size().unstack(level=[-1, -2, -3], fill_value=0)

df_workers.head()

grammaticality     1  3      2  1  2  1  2  3  1 ...      2  3     1        2  \
semantic_adequacy  1  1   3  1  2  2  3  3  3  1 ...  3   3  1     2  3  1  1
fluency            1  3   3  1  1  1  1  1  1  2 ...  3   3  2  1  2  2  3  3
X_worker_id                                      ...
10959404           1  1   6  0  0  0  0  0  0  0 ...  0   0  0  0  0  0  0  0
11131207           9  5  59  2  3  2  1  2  1  1 ...  3  10  0  0  0  0  0  0
11257883           0  0   5  0  0  0  0  0  0  0 ...  0   1  0  0  0  0  0  0
11460728           0  0   3  0  0  0  0  3  2  0 ...  0   0  1  0  0  0  0  0
11521789           0  0   0  0  0  0  0  0  0  0 ...  0   0  0  1  0  0  0  0

grammaticality     1  3
semantic_adequacy  2  2
fluency            3  1
X_worker_id
10959404           0  0
11131207           0  0
11257883           0  0
11460728           0  0
11521789           0  0

[5 rows x 27 columns]

In [92]:
patterns_ammount = (df_workers != 0).sum(axis=1)
total_scores = df_workers.sum(axis=1)
n_weird = df[df.weird_eval].X_worker_id.value_counts()

workers_stats = pd.concat([patterns_ammount, total_scores, n_weird], axis=1, keys=['n_patterns', 'n_scores', 'n_weird'])
workers_stats.fillna(0, inplace=True)
workers_stats.nlargest(10, ['n_weird', 'n_scores'])

/home/abevieiramota/anaconda3/envs/webnlg/lib/python3.6/site-packages/ipykernel_launcher.py:5: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  """

          n_patterns  n_scores  n_weird
21875134          20       126      4.0
23126666          23       117      3.0
43856561          13       114      4.0
12115558          18        85      3.0
44019926          15        66      3.0
38182446          12        64      3.0
43959305          14        42      4.0
17950689          12        30      3.0
44067725          16        30      3.0
6352345            7        28      8.0

In [95]:
df[df.weird_eval][['mr', 'text', 'meteor', 'fluency', 'grammaticality', 'semantic_adequacy']]

,mr,text,meteor,fluency,grammaticality,semantic_adequacy
35,Denmark | demonym | Danes,denmark demonym is danes.,1.000000,1,1,2
36,Denmark | demonym | Danes,denmark demonym is danes.,1.000000,3,1,3
115,Buzz_Aldrin | was selected by NASA | 1963,buzz aldrin was selected by nasa in 1963.,1.000000,3,1,3
134,"Ben_Urich | fullName | ""Benjamin Urich""",ben urich ' s full name is actually benjamin urich .\n,1.000000,3,1,3
143,California | gemstone | Benitoite,the gemstone of california is benitoite .\n,1.000000,3,1,3
171,Azerbaijan | leader | Artur_Rasizade,artur rasizade is the leader of azerbaijan.,1.000000,3,1,3
192,"Asher_and_Mary_Isabelle_Richardson_House | ReferenceNumber in the National Register of Historic Places | ""88002539""",asher and mary isabelle richardson house has the reference number 88002539 in the national register of historic places.,1.000000,3,1,3
198,Aenir | language | English_language,aenir is written in english.,1.000000,3,1,3
199,Aenir | language | English_language,aenir is written in english.,1.000000,3,3,1
200,Aenir | language | English_language,aenir is written in english.,1.000000,3,2,1
204,United_States | ethnicGroup | Native_Americans_in_the_United_States,native americans are on of the ethnic groups in the united states .\n,1.000000,1,1,2
205,United_States | ethnicGroup | Native_Americans_in_the_United_States,native americans are on of the ethnic groups in the united states .\n,1.000000,2,1,2
206,United_States | ethnicGroup | Native_Americans_in_the_United_States,native americans are on of the ethnic groups in the united states .\n,1.000000,3,1,3
213,Romania | capital | Bucharest,the capital of romania is bucharest.,1.000000,3,1,3
219,"Ben_Urich | fullName | ""Benjamin Urich""",ben urich ' s full name is benjamin urich.,1.000000,3,1,3
231,1_Decembrie_1918_University | state | Alba,the 1 decembrie 1918 university is located in the state of alba .\n,1.000000,1,2,3
289,Batagor | dishVariation | Shumai,shumai is a variation of batagor.,1.000000,2,1,2
401,Al-Zawra'a_SC | manager | Basim_Qasim,basim qasim is the manager of al-zawra'a sc.,1.000000,3,3,1
455,Azerbaijan | leaderTitle | Prime_Minister_of_Azerbaijan,the title of the leader of azerbaijan is the prime minister of azerbaijan.,1.000000,1,1,1
457,United_States_House_of_Representatives | location | United_States_Capitol,the united states house of representatives is located at united states capitol.,0.570637,3,1,3
531,American_Journal_of_Mathematics | academicDiscipline | Mathematics,the american journal of mathematics studies mathematics .\n,1.000000,3,3,1
532,American_Journal_of_Mathematics | academicDiscipline | Mathematics,the american journal of mathematics studies mathematics .\n,1.000000,2,2,1
619,(29075)_1950_DA | discoverer | Carl_A._Wirtanen,( 29075 ) 1950 da was discovered by carl a wirtanen .\n,1.000000,2,1,1
792,Juan_Perón | party | Labour_Party_(Argentina),juan peron was a member of the labour party in argentina .\n,1.000000,3,1,1
793,Juan_Perón | party | Labour_Party_(Argentina),juan peron was a member of the labour party in argentina .\n,1.000000,3,3,1
794,Juan_Perón | party | Labour_Party_(Argentina),juan peron was a member of the labour party in argentina .\n,1.000000,3,1,1
859,Batagor | dishVariation | Shumai,shumai is a variation of batagor.,1.000000,2,2,1
864,1_Decembrie_1918_University | state | Alba,the 1 decembrie 1918 universitys is located in the state of alba.,0.955556,2,2,1
866,1_Decembrie_1918_University | state | Alba,the 1 decembrie 1918 universitys is located in the state of alba.,0.955556,1,1,3
868,1_Decembrie_1918_University | state | Alba,the 1 decembrie 1918 universitys is located in the state of alba.,0.955556,1,1,1
...,...,...,...,...,...,...
4447,"United_States | ethnicGroup | Asian_Americans<br>Albuquerque,_New_Mexico | leaderTitle | New_Mexico_Senate<br>New_Mexico_Senate | leader | John_Sánchez<br>Albuquerque,_New_Mexico | country | United_States","albuquerque , new mexico is located in the united states and asian americans are an ethnic group there . john sanchez , is one of the leaders , in the new mexico senate which is leading the state .\n",1.000000,2,1,3
4448,"United_States | ethnicGroup | Asian_Americans<br>Albuquerque,_New_Mexico | leaderTitle | New_Mexico_Senate<br>New_Mexico_Senate | leader | John_Sánchez<br>Albuquerque,_New_Mexico | country | United_States","albuquerque , new mexico is located in the united states and asian americans are an ethnic group there . john sanchez , is one of the leaders , in the new mexico senate which is leading the state .\n",1.000000,1,1,1
4598,Alex_Day | associatedBand/associatedMusicalArtist | Chameleon_Circuit_(band)<br>Alex_Day | genre | Electronic_music<br>Alex_Day | associatedBand/associatedMusicalArtist | Charlie_McDonnell<br>Alex_Day | activeYearsStartYear | 2006,"alex day , who is associated with performer charlie mcdonnell , plays with the band chameleon circuit . he became active in 2006 and his speciality is electronic music .\n",1.000000,1,1,2
4668,"Monocacy_National_Battlefield | location | Frederick_County,_Maryland<br>14th_New_Jersey_Volunteer_Infantry_Monument | established | ""1907-07-11""<br>14th_New_Jersey_Volunteer_Infantry_Monument | district | Monocacy_National_Battlefield<br>Monocacy_National_Battlefield | nearestCity | Frederick,_Maryland","the 14th new jersey volunteer infantry monument was established 1907 - 07 - 11 at the monocacy national battlefield in the county of frederick , maryland , with frederick , maryland as its nearest city .\n",1.000000,1,2,2
4690,Philippines | language | Philippine_English<br>Binignit | course | Dessert<br>Dessert | dishVariation | Sandesh_(confectionery)<br>Binignit | country | Philippines,"sandesh and binignit are desserts . binignit comes from the philippines , where the language is philippine english .\n",1.000000,1,2,2
4718,"Akita_Museum_of_Art | country | Japan<br>Akita_Museum_of_Art | location | Akita,_Akita<br>Akita,_Akita | isPartOf | Akita_Prefecture<br>Japan | ethnicGroup | Brazilians_in_Japan","akita museum of art , located in akita , akita , part of akita prefecture , japan displays art from brazilians , one of the ethnic groups in that country .\n",1.000000,1,2,2
4719,"Akita_Museum_of_Art | country | Japan<br>Akita_Museum_of_Art | location | Akita,_Akita<br>Akita,_Akita | isPartOf | Akita_Prefecture<br>Japan | ethnicGroup | Brazilians_in_Japan","akita museum of art , located in akita , akita , part of akita prefecture , japan displays art from brazilians , one of the ethnic groups in that country .\n",1.000000,1,2,1
4725,107_Camilla | discoverer | N._R._Pogson<br>N._R._Pogson | deathPlace | Chennai<br>N._R._Pogson | birthPlace | Nottingham<br>107_Camilla | discovered | 2001-03-01,n . r . pogson was born in nottingham and died in chennai . he discovered the 107 camilla asteroid on the 1st march 2001 .\n,1.000000,2,3,1
4790,"ALCO_RS-3 | builder | American_Locomotive_Company<br>ALCO_RS-3 | length | 17068.8 (millimetres)<br>ALCO_RS-3 | engine | V12_engine<br>ALCO_RS-3 | buildDate | ""May 1950 - August 1956""",the american locomotive company built the alco rs - 3 and it was produced between may 1950 and august 1956 . it ' s length is 17068 . 8 millimetres and it has a v12 engine .\n,1.000000,2,1,3
5003,"Amarillo,_Texas | isPartOf | Potter_County,_Texas<br>Potter_County,_Texas | state | Texas<br>Texas | country | United_States<br>United_States | capital | Washington,_D.C.<br>United_States | language | English_language","the capital of the united states is washington d . c , the language of this country is english . amarillo , that its a beautiful place located in this country is part of potter county in the state of texas .\n",1.000000,1,2,3
5073,Italy | officialLanguage | Italian_language<br>Italy | demonym | Italians<br>Italy | capital | Rome<br>Italy | leader | Sergio_Mattarella<br>A.S._Gubbio_1910 | ground | Italy,the capital of rome is italy whose language is italian . the leader of the country is sergio mattarella and it is occupied by italians . a . s . gubbio 1910 is located there .\n,1.000000,2,3,1
5112,Central_Español | league | Uruguayan_Segunda_División<br>Abel_Hernández | youthclub | Central_Español<br>U.S._Città_di_Palermo | manager | Giuseppe_Iachini<br>Abel_Hernández | club | Uruguay_national_football_team<br>Abel_Hernández | club | U.S._Città_di_Palermo,abel hernandez played youth football for central espanol part of the uruguayan segunda division league . mr . hernandez plays for the us citta di palermo and the uruguay national football team . giuseppe iachini manages the u . s . citta di palermo team .\n,1.000000,1,1,3
5188,Philippines | language | Arabic<br>Philippines | ethnicGroup | Zamboangans<br>Philippines | language | Philippine_Spanish<br>Batchoy | country | Philippines<br>Philippines | ethnicGroup | Chinese_Filipino,among the languages spoken in the philippines are arabic and philippine spanish . the zamboangans are a group in the philippines and another group is the chinese filipino . batchoy comes from the philippines .\n,1.000000,1,3,2
5189,Philippines | language | Arabic<br>Philippines | ethnicGroup | Zamboangans<br>Philippines | language | Philippine_Spanish<br>Batchoy | country | Philippines<br>Philippines | ethnicGroup | Chinese_Filipino,among the languages spoken in the philippines are arabic and philippine spanish . the zamboangans are a group in the philippines and another group is the chinese filipino . batchoy comes from the philippines .\n,1.000000,1,2,3
5190,Philippines | language | Arabic<br>Philippines | ethnicGroup | Zamboangans<br>Philippines | language | Philippine_Spanish<br>Batchoy | country | Philippines<br>Philippines | ethnicGroup | Chinese_Filipino,among the languages spoken in the philippines are arabic and philippine spanish . the zamboangans are a group in the philippines and another group is the chinese filipino . batchoy comes from the philippines .\n,1.000000,1,2,3
5373,"Azerbaijan | capital | Baku<br>Baku_Turkish_Martyrs'_Memorial | dedicatedTo | ""Ottoman Army soldiers killed in the Battle of Baku""<br>Baku_Turkish_Martyrs'_Memorial | location | Azerbaijan<br>Azerbaijan | leaderName | Artur_Rasizade<br>Azerbaijan | legislature | National_Assembly_(Azerbaijan)",baku is the capital of azerbaijan where the legislature is the national assembly and the leader is artur rasizade . the country is the location of the baku turkish martyrs memorial which is dedicated to the soldiers of the ottoman army who lost their lives in the battle of baku .\n,1.000000,3,1,3
5669,"Caterpillar_Inc. | keyPerson | Douglas_R._Oberhelman<br>Caterpillar_Inc. | foundationPlace | United_States<br>Caterpillar_Inc. | location | Peoria,_Illinois<br>AIDAluna | owner | AIDA_Cruises<br>AIDAluna | powerType | Caterpillar_Inc.","aidaluna , owned by aida cruises , is powered by caterpillar inc . , where douglas r . oberhelman is a key person . caterpillar inc . was founded in the united states and is in peoria , illinois .\n",1.000000,1,1,2
5727,Athens_International_Airport | cityServed | Athens<br>Athens | country | Greece<br>Greece | leaderName | Alexis_Tsipras<br>Greece | language | Greek_language<br>Greece | leaderName | Prokopis_Pavlopoulos,"athens international airport serves the city of athens , in greek speaking greece . two of the leaders of which are alexis tsipras and prokopis pavlopoulos .\n",1.000000,1,1,3
5876,"English_language | spokenIn | Great_Britain<br>United_States | language | English_language<br>United_States | capital | Washington,_D.C.<br>A_Severed_Wasp | country | United_States<br>United_States | ethnicGroup | Native_Americans_in_the_United_States",a severed wasp is from the united states where the native americans are an ethnic group . the capital city is washington dc and uses the english language which is also spoken in great britain .\n,1.000000,1,1,2
5899,School of Business and Social Sciences at the Aarhus University | city | Aarhus<br>European_University_Association | headquarters | Brussels<br>Aarhus | has to its northeast | Mols<br>School of Business and Social Sciences at the Aarhus University | affiliation | European_University_Association<br>Aarhus | governmentType | Magistrate,the school of business and social sciences at the aarhus university in aarhus is affiliated to the european university association ( headquarters in brussels ) . aarhus has a magistrate government . aarhus has mols to its northeast .\n,1.000000,1,2,3
5941,"United_States | leaderName | Barack_Obama<br>United_States | demonym | Americans<br>United_States | capital | Washington,_D.C.<br>1634:_The_Ram_Rebellion | country | United_States<br>United_States | ethnicGroup | African_Americans","the demonym for people living in the united states is americans and there is an ethnic group called african american . the leader of the united states is barack obama , the capital is washington d . c . and 1634 the ram rebellion was written there .\n",1.000000,1,1,1
5942,"United_States | leaderName | Barack_Obama<br>United_States | demonym | Americans<br>United_States | capital | Washington,_D.C.<br>1634:_The_Ram_Rebellion | country | United_States<br>United_States | ethnicGroup | African_Americans","the demonym for people living in the united states is americans and there is an ethnic group called african american . the leader of the united states is barack obama , the capital is washington d . c . and 1634 the ram rebellion was written there .\n",1.000000,1,1,1
5943,"United_States | leaderName | Barack_Obama<br>United_States | demonym | Americans<br>United_States | capital | Washington,_D.C.<br>1634:_The_Ram_Rebellion | country | United_States<br>United_States | ethnicGroup | African_Americans","the demonym for people living in the united states is americans and there is an ethnic group called african american . the leader of the united states is barack obama , the capital is washington d . c . and 1634 the ram rebellion was written there .\n",1.000000,1,2,3
5945,English_language | spokenIn | Great_Britain<br>A_Loyal_Character_Dancer | publisher | Soho_Press<br>A_Loyal_Character_Dancer | country | United_States<br>United_States | ethnicGroup | Native_Americans_in_the_United_States<br>United_States | language | English_language,the english language is spoken in great britain and the united states where native americans are an ethnic group . a loyal character dancer is published in the united states by soho press .\n,1.000000,2,2,1
5946,English_language | spokenIn | Great_Britain<br>A_Loyal_Character_Dancer | publisher | Soho_Press<br>A_Loyal_Character_Dancer | country | United_States<br>United_States | ethnicGroup | Native_Americans_in_the_United_States<br>United_States | language | English_language,the english language is spoken in great britain and the united states where native americans are an ethnic group . a loyal character dancer is published in the united states by soho press .\n,1.000000,2,1,3
5965,1101_Clematis | epoch | 2006-12-31<br>1101_Clematis | escapeVelocity | 0.02 (kilometrePerSeconds)<br>1101_Clematis | mass | 5.7 (kilograms)<br>1101_Clematis | orbitalPeriod | 183309000.0<br>1101_Clematis | apoapsis | 520906000.0 (kilometres),"1101 clematis has a mass of 5 . 7 kilograms , an orbital period of 183309000 . 0 and its epoch date was on 31st july 2016 . it has an escape velocity of 0 . 02 km / sec and its apoapsis is 520906000 . 0 kilometres .\n",1.000000,2,2,1
5966,1101_Clematis | epoch | 2006-12-31<br>1101_Clematis | escapeVelocity | 0.02 (kilometrePerSeconds)<br>1101_Clematis | mass | 5.7 (kilograms)<br>1101_Clematis | orbitalPeriod | 183309000.0<br>1101_Clematis | apoapsis | 520906000.0 (kilometres),"1101 clematis has a mass of 5 . 7 kilograms , an orbital period of 183309000 . 0 and its epoch date was on 31st july 2016 . it has an escape velocity of 0 . 02 km / sec and its apoapsis is 520906000 . 0 kilometres .\n",1.000000,1,1,1
5994,"Azerbaijan | capital | Baku<br>Azerbaijan | leaderTitle | Prime_Minister_of_Azerbaijan<br>Baku_Turkish_Martyrs'_Memorial | dedicatedTo | ""Ottoman Army soldiers killed in the Battle of Baku""<br>Baku_Turkish_Martyrs'_Memorial | location | Azerbaijan<br>Azerbaijan | leaderName | Artur_Rasizade",azerbaijan ' s leader is artur rasizade and his official title is prime minister of azerbaijan . baku is the capital and the baku turkish martyrs memorial which is dedicated to the ottoman army soldiers killed in the battle of baku is located in the country .\n,1.000000,1,1,2
6025,"AC_Hotel_Bella_Sky_Copenhagen | location | Denmark<br>Marriott_International | foundationPlace | Washington,_D.C.<br>Denmark | leaderName | Lars_Løkke_Rasmussen<br>AC_Hotel_Bella_Sky_Copenhagen | tenant | Marriott_International<br>Denmark | language | Greenlandic_language","ac hotel bella sky copenhagen is in denmark where the leader is lars lokke rasmussen and greenlandic is one of the languages spoken there . the tenant of the ac hotel bella sky copenhagen is the marriott international hotel which was founded in washington , d . c .\n",1.000000,2,1,3
6026,"AC_Hotel_Bella_Sky_Copenhagen | location | Denmark<br>Marriott_International | foundationPlace | Washington,_D.C.<br>Denmark | leaderName | Lars_Løkke_Rasmussen<br>AC_Hotel_Bella_Sky_Copenhagen | tenant | Marriott_International<br>Denmark | language | Greenlandic_language","ac hotel bella sky copenhagen is in denmark where the leader is lars lokke rasmussen and greenlandic is one of the languages spoken there . the tenant of the ac hotel bella sky copenhagen is the marriott international hotel which was founded in washington , d . c .\n",1.000000,1,1,2

In [101]:
df.groupby(['X_unit_id', 'fluency', 'semantic_adequacy', 'grammaticality']).size().unstack(level=[-1, -2, -3], fill_value=0)

grammaticality     1  3    1  2  3  2     1  2  3        1  2  3  1     2     \
semantic_adequacy  1  3    1  3  2  2  3  3  1  3  1  2  2  2  3  3  2  2  3
fluency            3  3    1  3  3  3  2  3  2  2  3  2  1  2  1  1  2  1  1
X_unit_id
1433935686         1  1    0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0
1433935687         0  1    1  1  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0
1433935688         0  1    1  1  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0
1433935689         0  3    0  0  1  0  0  0  0  0  0  0  0  0  0  0  0  0  0
1433935690         0  3    0  0  0  1  0  0  0  0  0  0  0  0  0  0  0  0  0
1433935691         0  3    0  0  0  0  1  0  0  0  0  0  0  0  0  0  0  0  0
1433935692         0  3    0  0  0  0  0  1  0  0  0  0  0  0  0  0  0  0  0
1433935693         0  1    2  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0
1433935694         0  0    0  0  0  0  0  0  1  1  1  0  0  0  0  0  0  0  0
1433935695         0  1    1  0  1  0  0  0  0  0  0  1  0  0  0  0  0  0  0
1433935696         0  1    0  0  0  1  0  1  0  0  0  0  1  0  0  0  0  0  0
1433935697         0  3    0  0  0  0  0  0  0  0  0  0  0  1  0  0  0  0  0
1433935698         0  1    0  0  0  0  0  0  1  1  1  0  0  0  0  0  0  0  0
1433935699         0  1    0  1  0  0  1  0  0  0  0  0  0  1  0  0  0  0  0
1433935700         0  1    0  0  0  0  0  0  0  1  0  0  0  1  1  0  0  0  0
1433935701         0  3    0  0  0  0  1  0  0  0  0  0  0  0  0  0  0  0  0
1433935702         0  3    0  0  0  0  0  0  0  0  0  0  0  1  0  0  0  0  0
1433935703         0  3    0  0  0  0  1  0  0  0  0  0  0  1  0  0  0  0  0
1433935704         0  4    0  0  0  0  0  0  0  0  0  0  0  1  0  0  0  0  0
1433935705         0  1    0  0  0  0  0  0  2  0  0  0  0  2  0  0  0  0  0
1433935706         0  3    0  0  0  0  1  0  0  0  0  0  0  1  0  0  0  0  0
1433935707         0  2    0  0  0  0  0  0  0  0  0  0  0  1  0  0  0  0  0
1433935708         0  0    0  0  0  0  0  0  0  1  0  0  0  2  0  0  0  0  0
1433935709         0  0    1  0  0  0  0  0  0  0  0  0  0  0  0  1  1  0  0
1433935710         0  0    0  1  0  0  2  0  0  0  0  0  0  0  0  0  0  1  1
1433935711         1  2    0  1  1  0  0  0  0  0  0  0  0  1  0  0  0  0  0
1433935712         0  4    0  1  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0
1433935713         0  1    1  0  0  0  0  0  0  0  1  0  0  0  0  0  0  0  0
1433935714         0  2    0  0  0  0  0  0  0  1  0  0  0  0  0  0  0  0  0
1433935715         0  3    0  0  0  0  0  1  0  0  0  0  0  0  0  0  0  0  0
...               .. ..  ... .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. ..
1461482206         0  0    1  0  0  0  0  0  1  0  0  1  0  0  0  0  0  0  0
1461482207         0  0    1  0  0  0  0  0  0  0  0  0  1  0  1  0  0  0  0
1461482208         0  0    1  0  0  0  1  0  0  0  0  0  0  0  0  0  0  0  0
1461482209         0  0    3  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0
1461482210         0  0    0  1  0  0  1  0  0  0  0  0  1  0  0  0  0  0  0
1461482211         0  0    3  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0
1461482212         0  0    1  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0
1461482213         0  0    0  0  0  0  0  0  0  0  0  0  2  0  0  0  1  0  0
1461482214         0  0    2  0  0  0  0  0  0  0  0  0  1  0  0  0  0  0  0
1461482215         0  0    2  0  0  0  0  0  1  0  0  0  0  0  0  0  0  0  0
1461482216         0  0    3  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0
1461482217         0  0    0  0  0  1  0  0  0  0  0  0  0  0  0  0  0  0  0
1461482218         0  0    1  0  0  0  0  0  0  0  0  0  0  0  0  1  1  0  0
1461482219         0  0    1  0  0  0  1  0  0  1  0  0  0  0  0  0  0  0  0
1461482220         0  0    0  0  0  0  0  0  0  0  0  0  0  0  0  3  0  0  0
1461482221         0  0    0  0  0  0  0  0  0  1  0  0  1  0  0  0  0  0  0
1461482222         0  0    1  0  0  0  0  0  1  0  0  0  0  1  0  0  0  0  0
1461482223         0  0    3  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0
1461482224         0  1    0  0  0  0  1  0  0  1  0  0  0  0  0  0  0  0  0
1461482225         0  0    0  0  0  0  1  0  0  2  0  0  0  0  0  0  0  0  0
1461482226         0  1    0  1  0  0  1  0  0  0  0  0  0  0  0  0  0  0  0
1461482227         0  0    0  0  0  0  1  0  0  0  0  0  1  0  0  0  0  0  0
1461482228         0  0    1  0  0  0  0  0  1  0  0  0  0  0  0  0  0  0  0
1461482229         0  0    2  0  0  0  0  0  0  0  0  0  0  0  0  0  0  1  0
1461482230         0  0    0  0  1  0  0  0  0  0  0  1  0  0  0  0  0  1  0
1461482231         0  1    0  0  0  0  1  0  0  0  0  0  0  1  0  0  0  0  0
1461482232         0  0    0  0  0  0  0  0  1  0  0  0  0  0  0  0  1  0  0
1461482233         0  0    0  0  1  0  0  0  1  0  0  0  0  0  0  0  0  0  0
1461482234         0  0    0  0  1  0  0  0  0  0  0  0  0  0  0  0  0  0  0
na                 0  0  193  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0

grammaticality           1        3
semantic_adequacy  1     2  3  1  1     2
fluency            1  3  3  2  2  2  1  1
X_unit_id
1433935686         0  0  0  0  0  0  0  0
1433935687         0  0  0  0  0  0  0  0
1433935688         0  0  0  0  0  0  0  0
1433935689         0  0  0  0  0  0  0  0
1433935690         0  0  0  0  0  0  0  0
1433935691         0  0  0  0  0  0  0  0
1433935692         0  0  0  0  0  0  0  0
1433935693         0  0  0  0  0  0  0  0
1433935694         0  0  0  0  0  0  0  0
1433935695         0  0  0  0  0  0  0  0
1433935696         0  0  0  0  0  0  0  0
1433935697         0  0  0  0  0  0  0  0
1433935698         0  0  0  0  0  0  0  0
1433935699         0  0  0  0  0  0  0  0
1433935700         0  0  0  0  0  0  0  0
1433935701         0  0  0  0  0  0  0  0
1433935702         0  0  0  0  0  0  0  0
1433935703         0  0  0  0  0  0  0  0
1433935704         0  0  0  0  0  0  0  0
1433935705         0  0  0  0  0  0  0  0
1433935706         0  0  0  0  0  0  0  0
1433935707         0  0  0  0  0  0  0  0
1433935708         0  0  0  0  0  0  0  0
1433935709         0  0  0  0  0  0  0  0
1433935710         0  0  0  0  0  0  0  0
1433935711         0  0  0  0  0  0  0  0
1433935712         0  0  0  0  0  0  0  0
1433935713         0  0  0  0  0  0  0  0
1433935714         0  0  0  0  0  0  0  0
1433935715         0  0  0  0  0  0  0  0
...               .. .. .. .. .. .. .. ..
1461482206         0  0  0  0  0  0  0  0
1461482207         0  0  0  0  0  0  0  0
1461482208         0  0  0  0  1  0  0  0
1461482209         0  0  0  0  0  0  0  0
1461482210         0  0  0  0  0  0  0  0
1461482211         0  0  0  0  0  0  0  0
1461482212         0  0  0  0  1  1  0  0
1461482213         0  0  0  0  0  0  0  0
1461482214         0  0  0  0  0  0  0  0
1461482215         0  0  0  0  0  0  0  0
1461482216         0  0  0  0  0  0  0  0
1461482217         0  0  0  0  1  1  0  0
1461482218         0  0  0  0  0  0  0  0
1461482219         0  0  0  0  0  0  0  0
1461482220         0  0  0  0  0  0  0  0
1461482221         0  0  0  1  0  0  0  0
1461482222         0  0  0  0  0  0  0  0
1461482223         0  0  0  0  0  0  0  0
1461482224         0  0  0  0  0  0  0  0
1461482225         0  0  0  0  0  0  0  0
1461482226         0  0  0  0  0  0  0  0
1461482227         0  0  0  0  0  0  1  0
1461482228         1  0  0  0  0  0  0  0
1461482229         0  0  0  0  0  0  0  0
1461482230         0  0  0  0  0  0  0  0
1461482231         0  0  0  0  0  0  0  0
1461482232         0  0  0  0  0  0  0  0
1461482233         0  1  0  0  0  0  0  0
1461482234         0  1  0  0  1  0  0  0
na                 0  0  0  0  0  0  0  0

[2041 rows x 27 columns]

In [102]:
df[df.X_unit_id == '1433935687']

,X_unit_id,X_worker_id,fluency,grammaticality,semantic_adequacy,mr,team,text,category,type,bleu,meteor,ter,weird_eval
2,1433935687,43891892,3,2,3,Batagor | dishVariation | Shumai,pkuwriter,shumai can be included in arrabbiaita sauce.,Food,seen,0.199,0.161864,75.0,False
3,1433935687,43942797,3,3,3,Batagor | dishVariation | Shumai,pkuwriter,shumai can be included in arrabbiaita sauce.,Food,seen,0.199,0.161864,75.0,False
4,1433935687,44014780,1,1,1,Batagor | dishVariation | Shumai,pkuwriter,shumai can be included in arrabbiaita sauce.,Food,seen,0.199,0.161864,75.0,False

In [107]:
df[df.X_worker_id == '43942797'][['mr', 'text', 'meteor', 'fluency', 'grammaticality', 'semantic_adequacy']]

,mr,text,meteor,fluency,grammaticality,semantic_adequacy
1,"Elliot_See | deathDate | ""1966-02-28""","on february 28, 1966.",0.354628,3,3,3
3,Batagor | dishVariation | Shumai,shumai can be included in arrabbiaita sauce.,0.161864,3,3,3
6,"1001_Gaussia | formerName | ""1923 OAA907 XC""",the operator of antwerp is mayor.,0.064257,3,3,3
119,California | gemstone | Benitoite,the fossil is a fossil from california.,0.266409,1,2,1
124,United_States_Air_Force | battles | 1986_United_States_bombing_of_Libya,the united states air force was involved in battles at the 1986 united states bombing of libya.,0.455415,3,3,3
129,"Abradab | background | ""solo_singer""",the administrative government is governed by the flemish government.,0.050477,3,3,3
135,"Ben_Urich | fullName | ""Benjamin Urich""",ben urich ' s full name is actually benjamin urich .\n,1.000000,2,2,2
140,United_States_Air_Force | battles | 1986_United_States_bombing_of_Libya,united states air force fought battles in 1986 united states bombing of libya.,0.422843,3,3,3
144,California | gemstone | Benitoite,the gemstone of california is benitoite .\n,1.000000,3,3,3
148,"Kerala | has to its northwest | Mahé,_India","mahe, india is to the northwest of kerala.",0.477901,3,3,3
151,Bionico | region | Jalisco,bionico is from the jalisco.,0.387757,3,3,3
154,Azerbaijan | leaderTitle | Prime_Minister_of_Azerbaijan,the leader of azerbaijan is the prime minister of azerbaijan.,0.462433,3,3,3
157,A.D._Isidro_Metapán | league | Salvadoran_Primera_División,the league that a. d. isidro metapán play in is salvadoran primera división.,0.537574,3,3,3
160,"Abradab | background | ""solo_singer""",abradab was a solo singer.,0.338778,3,3,3
163,Denmark | demonym | Danes,danes live in denmark.,0.291068,3,3,3
166,"1001_Gaussia | formerName | ""1923 OAA907 XC""",1001 gaussia is 1923 oaa907 xc.,0.390154,3,2,2
169,"Orange_County,_California | country | United_States","united states is the country of the origin county, which is located in the united states.",0.383360,3,3,3
172,Azerbaijan | leader | Artur_Rasizade,artur rasizade is the leader of azerbaijan.,1.000000,3,3,3
175,Denmark | demonym | Danes,the demonym for people living in the denmark is danes.,0.413196,3,3,3
178,"Elliot_See | deathDate | ""1966-02-28""",elliot see died on 1966-02- 28.,0.372579,3,3,3
181,Abel_Hernández | club | Uruguay_national_football_team,abhis che plays for the uk rupiah national football team.,0.326980,2,2,2
184,Gubbio | region | Umbria,gubbio is from the umbria,0.309724,3,3,3
187,A.D._Isidro_Metapán | league | Salvadoran_Primera_División,a.d. isidro metapán plays in salvadoran primera división.,0.536367,3,3,3
190,Al-Zawra'a_SC | manager | Basim_Qasim,the manager of al-zawraa sc is basim qasim.,0.457597,3,3,3
193,"Asher_and_Mary_Isabelle_Richardson_House | ReferenceNumber in the National Register of Historic Places | ""88002539""",asher and mary isabelle richardson house has the reference number 88002539 in the national register of historic places.,1.000000,3,3,3
196,Juan_Perón | party | Labour_Party_(Argentina),juan perón belongs to the labour party (argentina).,0.491443,3,3,3

In [6]:
df_ = df.groupby(['X_unit_id', 'team'])[['fluency', 'grammaticality', 'semantic_adequacy']].mean()
df_.groupby('team').mean().sort_values('fluency', ascending=False)

               fluency  grammaticality  semantic_adequacy
team
webnlg        2.584753        2.614574           2.771001
vietnam       2.498810        2.536012           2.659226
upf-forge     2.343274        2.469208           2.677877
pkuwriter     2.336024        2.385202           2.075037
melbourne     2.269866        2.394494           2.291369
adapt         2.259449        2.315848           2.298661
baseline      2.248729        2.361136           1.858146
tilburg-pipe  2.197069        2.332496           2.348241
tilburg-nmt   2.012128        2.157961           1.984301
tilburg-smt   1.814723        1.961584           2.415321

In [5]:
df.groupby('team')[['fluency', 'grammaticality', 'semantic_adequacy']].mean().sort_values('fluency', ascending=False)

               fluency  grammaticality  semantic_adequacy
team
webnlg        2.589905        2.611987           2.772871
upf-forge     2.360555        2.477658           2.681048
pkuwriter     2.331279        2.375963           2.073960
melbourne     2.278125        2.392187           2.312500
adapt         2.269817        2.324695           2.307927
baseline      2.260062        2.366873           1.852941
tilburg-pipe  2.156303        2.280672           2.302521
tilburg-nmt   2.031201        2.177847           2.001560
tilburg-smt   1.821321        1.965465           2.414414
vietnam       1.758209        1.770149           1.835821

In [113]:
df.team.value_counts()

tilburg-smt     666
adapt           656
upf-forge       649
pkuwriter       649
baseline        646
tilburg-nmt     641
melbourne       640
webnlg          634
tilburg-pipe    595
vietnam         335
Name: team, dtype: int64