Reportar statisticas sobre os databases, referência e templates. 

Histograma da quantidade de templates por estrutura, de referências por identificador; 

casos de templates estranhos, 

referências ruins - com mais informação que ser uma mera referência, como o test pilot Elliot See, com erro typo, wrong 1st 2nd; 


estatística de uso de fallback template - por subset!

In [3]:
import sys
sys.path.append('../template_model/')

In [5]:
from pretrained_models import *

# Estatísticas sobre os databases - templates

template_db = load_template_db(('train', 'dev'))
tdb = template_db.template_db_data

In [12]:
f'Número de estruturas diferentes: {len(tdb)}'

'Número de estruturas diferentes: 4829'

In [42]:
f'Número de templates diferentes: {sum(len(ts) for ts in tdb.values())}'

'Número de templates diferentes: 18777'

In [17]:
from collections import Counter
import pandas as pd
%matplotlib inline

In [72]:
s_n_templates = pd.Series({k: len(v) for k, v in tdb.items()})
s_n_templates.describe(percentiles=[.5, .9, .99])

count    4829.000000
mean        3.888383
std         8.903664
min         1.000000
50%         1.000000
90%         8.000000
99%        41.000000
max       158.000000
dtype: float64

## Templates mais frequentes

In [73]:
s_n_templates.nlargest(5)

(slot0, region, slot1)        158
(slot0, country, slot1)       150
(slot0, country, slot1)       138
(slot0, manager, slot1)       137
(slot0, ingredient, slot1)    135
dtype: int64

# Estatísticas sobre os databases - Referências

In [74]:
ref = load_referrer(('train', 'dev'), 'abe', 3)
ref_db = ref.ref_db

In [75]:
ref_1st = ref_db['1st']
ref_2nd = ref_db['2nd']

In [76]:
print(f'Número de identificadores 1st: {len(ref_1st)}\nNúmero de referências: {sum(len(r) for r in ref_1st.values())}')

Número de identificadores 1st: 1771
Número de referências: 7308

In [77]:
print(f'Número de identificadores 2nd: {len(ref_2nd)}\nNúmero de referências: {sum(len(r) for r in ref_2nd.values())}')

Número de identificadores 2nd: 432
Número de referências: 1946

In [78]:
s_1st = pd.Series({k: len(v) for k, v in ref_1st.items()})
s_2nd = pd.Series({k: len(v) for k, v in ref_2nd.items()})

In [79]:
s_1st.describe(percentiles=[.5, .9])

count    1771.000000
mean        4.126482
std         5.183833
min         1.000000
50%         3.000000
90%         9.000000
max       130.000000
dtype: float64

In [80]:
s_1st.nlargest(5)

United_States                                          130
"UT Austin, B.S. 1955"                                  54
"Massachusetts Institute of Technology, Sc.D. 1963"     54
"NWC, M.A. 1957"                                        51
"AFIT, M.S. 1962"                                       35
dtype: int64

In [83]:
ref_1st['United_States']

{'a fictional character',
 'a test pilot',
 'a u . s . national',
 'a united states',
 'a united states citizen',
 'a united states national',
 'a us',
 'a us citizen',
 'a us national',
 'a us nationality',
 'aip advances',
 'akron , ohio , united states',
 'alpena county , michigan , in the u . s . a .',
 'alpena county , michigan , u . s . a',
 'alpena county , michigan , united states',
 'alpena county , michigan , usa',
 'alpena county michigan , united states',
 'alpena county michigan , usa',
 'america',
 'american',
 'americans',
 'an american',
 'an american born',
 'an american citizen',
 'an united states',
 'atlantic county , united states',
 'california in the u . s .',
 'cities',
 'city united states',
 'georgia , in the united states',
 'georgia in the united states',
 'harbor township , new jersey , united states',
 'harrietstown , new york united states',
 'ice cream',
 'illinois',
 'illinois , u . s .',
 'illinois , united states',
 'illinois , us',
 'illinois , usa',
 'in indiana , in the united states',
 'in new york , united states',
 'indiana , in the united states',
 'indiana in the u . s',
 'indiana which is in the united states',
 'madison county , in indiana , in the united states',
 'madison county , indiana , u . s .',
 'michigan , u . s . a .',
 'n . j . , u . s .',
 'nasa',
 'new jersey',
 'new jersey , in the united states',
 'new jersey , the usa',
 'new jersey , u . s .',
 'new jersey , united states',
 'new jersey , us',
 'new jersey , usa',
 'new mexico , in the united states',
 'new york ( united states )',
 'new york , the united states',
 'new york , u . s .',
 'new york , united states',
 'new york , us',
 'new york in the u . s',
 'ohio , u . s',
 'ohio , u . s .',
 'ohio , united states',
 'ohio , us',
 'ohio , usa',
 'ohio if the united states',
 'ohio in the united states',
 'st louis',
 'summit county , united states',
 'texas',
 'texas , in the united states',
 'texas , the united states',
 'texas , u . s .',
 'texas , united states',
 'texas , us',
 'texas , usa',
 'texas united states',
 'that country',
 'the',
 'the american',
 'the american state',
 'the american state of wisconsin',
 'the city',
 'the country',
 'the country of united states',
 'the country united states',
 'the location',
 'the state',
 'the u . s',
 'the u . s .',
 'the u . s . a',
 'the u . s . a .',
 "the u . s . a . ' s",
 'the united',
 'the united sates',
 'the united state',
 'the united states',
 'the united states ,',
 'the united states . two texan tidbits',
 'the united states house of representatives',
 'the united states of america',
 'the united states of america ` s',
 'the us',
 'the us national',
 'the usa',
 'township , alpena county , michigan united states',
 'u . s',
 'u . s .',
 'u . s . a',
 'u . s . a .',
 "united state ' s",
 'united stated',
 'united states',
 'united states citizen',
 'united states national',
 'united states of america',
 'us',
 'us national',
 'us nationality',
 'usa',
 'virginia usa',
 'winnebago county , wisconsin , united states',
 'wisconsin , u . s . a',
 'wisconsin , united states',
 'wisconsin , usa',
 'wisconsin in the united states',
 'york city u . s .'}

In [81]:
s_2nd.nlargest(5)

Acharya_Institute_of_Technology    48
United_States                      43
Alan_Shepard                       20
United_States_Air_Force            20
Alan_Bean                          18
dtype: int64

In [82]:
ref_2nd['Acharya_Institute_of_Technology']

{'acharya institute of technology',
 'g . p . prabhukumar . acharya institute',
 'g . p . prabhukumar . it',
 'g . p . prabhukumar . the institute',
 'g . p . prabhukumar . the school',
 "g . p . prabhukumar . the school ' s",
 'his',
 'institute',
 'it',
 "it ' s",
 'its',
 'm . reddy . it',
 'orange and the school',
 'prabhukumar . it',
 'reddy . it',
 'reddy . its',
 'reddy . the institute',
 'reddy . the university itself',
 'sarcapalli radhakrishnan road , hessarghatta main road , bangalore , 560090 , india . it',
 'sarvapalli radhakishnan road , hessarghatta main road , bangalore , india , 560090 . it',
 'sarvapalli radhakrishnan road , hessarghatta main road , bangalore , india ( 560090 ) . it',
 'sarvapalli radhakrishnan road , hessarghatta main road , bangalore , india , 560090 . it',
 'sarvapalli radhakrishnan road , hessarghatta main road , bangalore , karnataka , india , 560090 . it',
 'sarvapalli radhakrishnan road , hessarghatta main road , bangalore , karnataka , india , 560090 . its',
 'sarvapalli radhakrishnan road , hessarghatta main road , bangalore , karnatka , 560090 , india . its',
 'sarvapalli radhakrishnan road , hessarghatta main road , bangalore , karnatka , 560090 , undia . its',
 'sarvapalli radhakrishnan road , hessarghatta main road , bangalore , karnatka , 560090 . it',
 'sarvapalli radhakrishnan road , hessarghatta main road , bangalore , karnatka , india , 560090 . the institute',
 'sarvapalli radhakrishnan road , hessarghatta main road , bangalore - 560090 , india . it',
 'sarvapalli radhakrishnan road , hessarghatta main road , bangalore - 560090 , india . the institute',
 'sarvapalli radhakrishnan road , hessarghatta main road , bangalore - 560090 , india . the school',
 'sarvapalli radhakrishnan road , hessarghatta main road , bangalore - 560090 . it',
 "sarvapalli radhakrishnan road , hessarghatta main road , bangalore - 560090 . it ' s",
 'sarvapalli radhakrishnan road , hessarghatta main road , bangalore - 560090 . its',
 'sarvapalli radhakrishnan road , hessarghatta main road , bangalore 560090 , india . it',
 'sarvapalli radhakrishnan road , hessarghatta main road , karnataka , bangalore - 560090 , india . it',
 'sarvapalli radharkrishnan road , hessarghatta main road , bangalore - 560090 , india . it',
 'the acharya institute',
 'the acharya institute of technology',
 'the alcharya institute of technology',
 'the campus',
 'the institute',
 "the institute ' s",
 'the institute itself',
 'the school',
 "the school ' s",
 'the university',
 'their'}